<h1>Angular Google Maps (AGM) Demooo</h1>
<p><a href="https://angular-maps.com/" target="_blank">Official Website</a></p>

<agm-map
  [latitude]="mapDefaults.lat"
  [longitude]="mapDefaults.lng"
  [zoom]="mapDefaults.zoom"
  [minZoom]="mapDefaults.minZoom"
  [maxZoom]="mapDefaults.maxZoom"
  [disableDefaultUI]="false"
  [streetViewControl]="false"
  [zoomControl]="true"
  [restriction]="mapOptions.restriction"
>
  <agm-marker-cluster
    [styles]="mapOptions.styles"
    imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
    [zoomOnClick]="true"
    [minimumClusterSize]="3"
    [maxZoom]="10"
  >
    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      >

      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>

    </agm-marker>
  </agm-marker-cluster>
</agm-map>
